:root {
    --color: #64e04f;
}
@font-face {
    font-family: playfair;
    src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: playfair-italic;
    src: url(../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    color: #000;
}
canvas {
    display: block;
    position: fixed;

    z-index: -1;
    top: 0;
    left: 0;
}

.category-container {
    position: relative;

    height: 5vh;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}
.description {
    text-align: center;

    font-family: playfair-italic;
    font-size: 17px;
    font-weight: 100;

    opacity: 0;
    width: 50%;
    margin-left: 25%;
    height: 100%;
}
.pictures-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    width: 100%;
    
    background: none;
}
.picture {
    width: 20.5%;
    margin-bottom: 5%;
    opacity: 0;
    perspective: 25%;

    transform-origin: bottom left;
    transform: rotateZ(3deg);
    -webkit-transform: rotateZ(3deg);
    -moz-transform: rotateZ(3deg);
    -ms-transform: rotateZ(3deg);
    -o-transform: rotateZ(3deg);
}