@media screen and (min-width: 801px) and (max-width: 1450px) {
    .main-title::before,
    .main-title::after {
        display: none;
    }
    .description {
        width: 75%;
        margin-left: 12.5%;
    }
    .link-image-container {
        height: 350px;
        width: 250px;
    }
    .navigation-links {
        padding-left: 0;
    }
    .paragraph h3 {
        font-size: 57px;
    }
    span.who::after {
        height: 150px;
        width: 250px;
        top: -75%;
    }
    span.why::after {
        height: 150px;
        width: 150px;
        left: -30%;
    }
}