.burger,
.x {
    position: fixed;
    cursor: pointer;

    z-index: 10;
    top: 1%;
    right: 1%;
    opacity: 0;

    transform: scaleX(1.25);
    -webkit-transform: scaleX(1.25);
    -moz-transform: scaleX(1.25);
    -ms-transform: scaleX(1.25);
    -o-transform: scaleX(1.25);
    animation: fadeIn .25s 2.5s ease forwards;
    -webkit-animation: fadeIn .25s 2.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.x {
    position: absolute;

    opacity: 1;
    top: calc(50% - 24px);
    right: 1%;

    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    animation: none;
    -webkit-animation: none;
}

nav {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    transform-origin: center right;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    
    background: #fff;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform ease-in-out 1.25s;
    -webkit-transition: transform ease-in-out 1.25s;
    -moz-transition: transform ease-in-out 1.25s;
    -ms-transition: transform ease-in-out 1.25s;
    -o-transition: transform ease-in-out 1.25s;
}

.links-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    width: 100% ;
}

.navigation-links {
    cursor: pointer;
    text-decoration: none;
    font-family: playfair;
    text-align: center;
    mix-blend-mode: difference;

    z-index: 10;
    font-size: 39px;
    width: 100%;
    padding: 1% 0;
    opacity: 0;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;

    color: #fff;
    transform-origin: left;
    transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    -o-transform: skewY(10deg);
}

.navigation-links:hover {
    font-family: playfair-italic;
}

.link-image-container {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
    width: 20vw;
    height: 55vh;
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
}
.link-image-container img {
    pointer-events: none;

    height: 100%;
    width: 100%;
}
.transition-image {
    position: absolute;
    top: 0;
    left: 100%;
}